html {
  background-color: #eee9de;
  box-sizing: border-box;
  margin: 1.5rem;
}

p {
  text-align: left;
  font-family: Lato, sans-serif;
  font-style: normal;
  display: inline-block;
  color: #666;
  vertical-align: middle;
  color: #333;
  line-height: 1.5;
}

h2{
  text-align: center;
  display: inline-block;
  font-family: Lato, sans-serif;
  font-weight: bold;
  vertical-align: middle;
  margin-top: 0;
}

img{
  width: 100%;
  max-width: 25em;
  display: block;
  margin: 0 auto 1rem;
  padding-top: 1rem;
}
