html {
  background-color: #eee9de;
  box-sizing: border-box;
  text-align: left;
  font-family: Lato, sans-serif;
  font-style: normal;
  color: #333;
  line-height: 1.5;
}

h2 {
  margin-top: 0;
}

img {
  width: 100%;
  display: block;
}

.img {
  display: inline-block;
  max-width: 25em;
  vertical-align: middle;
  padding: 1em;
}

.btn {
  display: inline-block;
  margin: 0 .5em 1em;
  max-width: 20em;
  padding: .4em .75em .5em;
  background-color: #eee9de;
  border: 3px solid #333;
  border-radius: 10px;
  text-align: left;
}

.btn:hover {
  color: #666;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  text-align: left;
  margin: 0;
}

.text {
  display: inline-block;
  max-width: 25em;
  padding: 1em;
  vertical-align: middle;
  text-align: left;
}

section {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}
